 
UserName:
<input  name="username" [(ngModel)]="username"/><br><br>
Age:
<input name="age"[(ngModel)]="age"/><br><br>
Marks:
<input  name="marks"[(ngModel)]="marks"/><br><br>
<button (click)="register()" name="submit">Submit</button>
<br>
<br>

<input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Name">

<table border="2">
    <thead>
        <th>Id</th>
        <th>UserName</th>
        <th>Age</th>
        <th>Marks</th>
        
        <th>Delete</th>
    </thead>
    <tbody>
        <tr *ngFor ="let add of data | search : searchText ;index as i">
        <td>{{i +1}}</td>
        <td>{{add.username}}</td>
        <td>{{add.age}}</td>
        <td>{{add.marks}}</td>
        <td><button (click)="delete(this.i)">Delete</button></td>
        </tr>
    </tbody>
</table>
      

