 <input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Name">
<br>
<br>
<table border="2">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Marks</th>
    <th>Subject</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let data of data | search: searchText; index as i;even as a" [ngStyle]="{'color':a  ?'red':'blue'}">
    <td>{{i+1}}</td>
    <td>{{data.name}}</td>
    <td>{{data.marks}}</td>
    <td>{{data.subject}}</td>
    <td>
      <input type="button" (click)="deletedata(this.i)" value="Delete" /> </td>

  </tr>
</table> 
<!-- <div class="container">
  <a routerLink="/register">Register</a>|
  <a routerLink="/home">Table data</a>
  

  
  
  </div>  -->