<form (submit)="register(ref)" #ref="ngForm">
  
   title
  <input type="text" name="title" ngModel/>
  <br>
  <br> Category
  <input type="text" name="category" ngModel/>
  <br>
  <br>
  <input type="submit" value="add" />

</form>

<table border="2">

  <tr>
    <th>artical id</th>
    <th>title</th>
    <th>category</th>
  </tr>


  <tr *ngFor="let detail of details">

    <td>{{detail.articleId}}</td>
    <td>{{detail.title}}</td>
    <td>{{detail.category}}</td>

    <button value={{detail.articleId}} (click)="delete(detail.articleId)">delete</button>


  </tr>

</table>